@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

header,
main,
footer {
  max-width: 1000px;
  margin: 1rem auto;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: lightblue;
}

h1 {
  text-align: center;
}

section {
  padding: 20px;
  background-color: white;
  margin: 1em;
  border: 1px solid #ccc;
}

.menu-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 4px;
  background-color: black;
  margin: 5px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

nav.hide {
  display: none;
}

/* MOBILE MENU STYLE */
nav {
  text-align: center;
}

nav a {
  display: block;
  padding: 12px 0;
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black;
}

nav a:last-child {
  border-bottom: none;
}

footer {
  text-align: center;
}

/* DESKTOP MENU STYLE */
@media screen and (min-width: 700px) {
  nav.hide {
    display: block;
  }

  .menu-btn {
    display: none;
  }

  nav {
    text-align: center;
    display: block;
  }

  nav a {
    display: inline;
    padding: 20px;
    border-bottom: none;
  }
}

@media screen and (min-width: 1000px) {
  main {
    grid-template-columns: 1fr 1fr 1fr;
  }
}