@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
}

/* HEADER */
header {
  background-color: #0a4a7a;
  color: white;
  padding: 1rem;
  text-align: center;
  position: relative;
}

h1 {
  margin: 0;
}

/* MENU BUTTON */
.menu-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  text-align: center;
}

/* MOBILE NAV */
nav {
  display: none;
  background-color: #0a4a7a;
  text-align: center;
  width: 100%;
  top: 100%;
  left: 0;
}

nav a {
  display: none;
  color: white;
  padding: 1rem;
  font-size: 1rem;
}

/* SHOW STATE */
nav.show {
  display: block;
}

nav.show a {
  display: block;
}

/* MAIN */
main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}

h2 {
  text-align: center;
  margin-bottom: 1rem;
}

/* GALLERY */
.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.gallery img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  margin: 0 auto;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 1rem;
  background-color: #ddd;
  margin-top: 1rem;
}

/* TABLET */
@media screen and (min-width: 700px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  dialog img {
    width: 500px;
  }
}

/* DESKTOP */
@media screen and (min-width: 1000px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  nav {
    display: flex;
    position: static;
    background: none;
    justify-content: center;
    gap: 1rem;
  }

  nav a {
    display: block;
    border: none;
    padding: 0.5rem;
  }

  .menu-btn {
    display: none;
  }

  dialog img {
    width: 600px;
  }
}

/* IMAGE STYLING */
img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 4px solid white;
  border-radius: 0;
}

/* MODAL */

dialog img {
  display: block;
  margin: 20vh auto;
  border: none;
}

.close-viewer {
  position: absolute;
  top: 10vh;
  right: 2vh;
  padding: 3px 6px;
  font-size: 1.5em;
  background: white;
  border: none;
  cursor: pointer;
}

dialog {
  position: fixed;
  inset: 0;
  border: none;
  padding: 0;
  background: transparent; /* prevents double background */
}
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}