:root {
  --accent: #2a6f97;
  --gap: 16px;
  --max-width: 900px;
  --font-headline: 'Amatic SC', cursive;
}

/* GENERAL */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  display: block; /* removed flex */
  background: #fff;
}

.page {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}

/* HEADER */
.header {
  padding: var(--gap);
}

.logo-title {
  display: flex; 
  justify-content: center;
  margin-right: 20px;
  width: 100%;
  width: calc(100% - 50px);
}

.logo {
  width: 100px;
  vertical-align: middle;
}

h1 {
  font-family: var(--font-headline);
  font-size: 100px;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

/* SEARCH BAR */
.search {
  display: flex;
  margin-top: 10px;
  width: 100%;
  width: calc(100% - 50px);
  padding: 6px 10px;
  border-radius: 6px;
  border: 2px solid #080808;
}
.vline {
  width: 1px;
  height: 40px; /* change height as needed */
  background: #000; /* or any color */
}
.search input {
  width: calc(100% - 50px);
  border:none;
}
.icon-btn {
  all: unset;
  cursor: pointer;
}
.search img {
  width: 40px;
  vertical-align: middle;
  padding-left: 8px;
}
.recipe {
  display: flex;
  flex-direction: column;   /* STACK on mobile */
  padding: 20px;
  border-radius: 6px;
  border: 2px solid #000000;
  margin: 10px var(--gap);
  gap: 20px;
}

.recipe-img {
  width: 100%;              /* full width on mobile */
  border-radius: 8px;
  display: block;
  object-fit: cover;
}

.recipe-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  flex: 1;
}

.category-btn {
  font-size: 2rem;
  align-self: flex-start;
  align-items: flex-start;
}
.title {
  font-family: var(--font-headline);
  font-size: 3rem;
  margin: 0;
  color: var(--accent);
}

.rating {
  font-size: 1.4rem;
}

.description {
  line-height: 1.4;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: var(--gap);
  margin-top: 20px;
}

.social {
  margin-bottom: 10px;
}

.social img {
  width: 28px;
  margin: 0 8px;
}


@media (min-width: 700px) {
  .recipe {
    flex-direction: row; 
  }

  .recipe-img {
    width: 50%;
  }

  .recipe-info {
    width: 50%;
  }
  .footer {
    flex-direction: row;    
    justify-content: space-between;
  }
}